body
{
justify-content: center;
align-items: center;
background: linear-gradient(#007bb2, #0d1423);
}

.grid-container 
{
display: grid; 
grid-template-columns: 40% 45% 15%;
grid-auto-rows: minmax(100px, auto );
column-gap: 10px;
height: 100%; 
}

.fondo
{
position: fixed;
top: 5%;
height: 90%;
padding: 20px;
margin: 20px;
grid-column:1;
}

header
{ 
grid-column:2/span3;
text-align: center;
border-bottom: 2px  solid rgba(128, 128, 128, 0.363);
}

h1
{
padding-top: 40px;
margin-top: 20px;
color: white;
}

article 
{  
grid-column: 2;
height: 100%;
padding: 30px;
margin: 10px;
border-right: 1px solid rgba(128, 128, 128, 0.363);;
}   

h2, p, li
{
color: white;
}

.noticia
{ 
grid-column: 3;
padding-right: 30px;
margin-right: 10px;
padding-top: 30px;
margin-top: 10px;
width: 210px;
height: 100%;
}

    



